# environment variables for server.js
export PORT=3000
export MEMCOST=14
export ROUNDS=8
export SALTSEPARATOR=Aa== 
export SIGNERKEY=XXXX/XXX+XXXXXXXXXXXXXXXXX+XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX==
